#app {
  /*font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
  font: 14px 'Source Sans Pro', sans-serif;
  color: #4d4d4d;
  min-width: 550px;
  max-width: 850px;
  margin: 0 auto;
}

body {
  color: #4d4d4d;
}

a.active {
  color: orange;
}

nav {
  transition: all 0.2s ease-out;
  color: #4d4d4d;
  padding: 40px 50px;
  text-align: right;
}

.nav-item {
  color: #4d4d4d;
  margin-left: 20px;
}

.sticky {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  border-top: 0;
}

.scrolling {
  color: #f9f9f9;
  padding: 20px 50px;
  background-color: rgba(10, 10, 10, 0.5);
}
